[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
coverage = "<4.4,>=4.0"
pytest = "*"
pytest-cov = "==2.5.1"
sphinx-rtd-theme = "*"
Sphinx = "*"

[requires]
python_version = "3.7"
